.catalog-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  background-color: #fff;
}

.catalog-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  .catalog-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .catalog-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .catalog-list {
    grid-template-columns: 1fr;
  }
}


.catalog-item {
  background-color: white;
  border-radius: 20px;
  padding: 16px;
  text-align: center;
  transition: background-color 0.3s;
}

.catalog-item:hover {
  background-color: #e7fafa;
}

.product-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 12px;
}

.product-name {
  font-size: 16px;
  margin-bottom: 4px;
}

.product-price {
  color: #00bfa5;
  font-weight: 500;
  margin-bottom: 12px;
}

.add-to-order-btn {
  background-color: #00bfa5;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-order-btn:hover {
  background-color: #009f8a;
}

.product-name a {
  text-decoration: none; /* убирает подчеркивание */
  color: black;          /* делает текст чёрным */
}

.product-name a:hover {
  text-decoration: none;
  color: black;
}

